.react-typeaheadix-container {
    .react-typeaheadix-input-container {
        .react-typeaheadix-hint {
            border: none;
        }
        .react-typeaheadix-input {
            padding: 0 15px;
            width: 100%;
            border-radius: 3px;
            height: 44px;
            box-shadow: none;
            border: solid 1px #ddd;
            font-size: 15px;
            box-sizing: border-box;

            &:focus {
                border-color: #00bcd4;
                outline: none;
            }
        }
    }
    .react-typeaheadix-dropdown {
        padding: 0;
        width: 100%;
        margin-top: -1px;
        border: solid 1px #00bcd4;

        > li {
            list-style: none;
            border-bottom: solid 1px #eee;
        }
    }

    &.dropdown-open {
        .react-typeaheadix-input {
            border-radius: 3px 3px 0 0;
        }
    }
}

.dropdown-option {
    display: block;
    padding: 10px 15px;

    &.selected {
        background: #fafafa;
    }
}
